{% extends 'base.html.twig' %}

{% block title %}EffectOrigin index{% endblock %}

{% block body %}
    <h1>EffectOrigin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for effect_origin in effect_origins %}
            <tr>
                <td>{{ effect_origin.id }}</td>
                <td>{{ effect_origin.name }}</td>
                <td>
                    <a href="{{ path('effect_origin_show', {'id': effect_origin.id}) }}">show</a>
                    <a href="{{ path('effect_origin_edit', {'id': effect_origin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('effect_origin_new') }}">Create new</a>
{% endblock %}
